<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hansol.hrm.service.staff.domain.StaffMapper">

    <select id="findAll" resultType="com.hansol.hrm.service.staff.domain.Staff">
        SELECT *
        FROM staff
        WHERE status = 'USED'
    </select>

    <select id="findById" resultType="com.hansol.hrm.service.staff.domain.Staff">
        SELECT *
        FROM staff
        WHERE id = #{staffId}
          AND status = 'USED';
    </select>

    <select id="findByName" resultType="com.hansol.hrm.service.staff.domain.Staff">
        SELECT *
        FROM staff
        WHERE name LIKE CONCAT('%', #{name}, '%')
          AND status = 'USED';
    </select>

    <insert id="insertOne" parameterType="com.hansol.hrm.service.staff.domain.Staff" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id"><!-- useGeneratedKeys="true" -->
        INSERT INTO staff(name, phone_number, type, task_id, position_id)
        values (#{name}, #{phoneNumber}, #{type}, #{taskId}, #{positionId})
    </insert>

    <update id="updateOne">
        UPDATE staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="staffEntity.name != null and staffEntity.name != ''">name=#{staffEntity.name},</if>
            <if test="staffEntity.phoneNumber != null and !staffEntity.phoneNumber.equals('')">phone_number=#{staffEntity.phoneNumber},</if>
            <if test="staffEntity.type != null and !staffEntity.type.equals('')">type=#{staffEntity.type},</if>
            <if test="staffEntity.taskId != null and staffEntity.taskId != ''">task_id=#{staffEntity.taskId},</if>
            <if test="staffEntity.positionId != null and staffEntity.positionId != ''">position_id=#{staffEntity.positionId},</if>
        </trim>
        WHERE id = #{staffId}
    </update>

    <update id="statusToDelete" parameterType="Long">
        UPDATE staff
        SET status = 'DELETED'
        WHERE id = #{staffId}
    </update>


    <!-- 타입별 검색 쿼리 (이름, 전화번호, 업무 종류)-->
    <select id="search" resultType="com.hansol.hrm.service.staff.domain.Staff">
        SELECT *
        FROM staff
        <where>
            <if test="searchType == 'N'">
                name LIKE CONCAT('%', #{_str}, '%')
            </if>
            <if test="searchType == 'P'">
                phone_number LIKE CONCAT('%', #{_str}, '%')
            </if>
            <if test="searchType == 'T'">
                type LIKE CONCAT('%', #{_str}, '%')
            </if>
        </where>
    </select>

    <!-- 필터링 (회사, 직무(업무), 직급) -->
    <select id="filterStaff" resultType="com.hansol.hrm.service.staff.domain.StaffSearch">
        SELECT s.name as staff_name, phone_number, type, t.name as task_name, csr.name as company_name, code, p.name as position_name
        FROM staff s
<!--        <if test="positionId != null and positionId != ''">-->
            left join positions p
                on s.position_id = p.id
<!--        </if>-->
<!--        <if test="positionId != null and positionId != ''">-->
            left join task t
                on s.task_id = t.id
<!--        </if>-->
<!--        <if test="companyId != null and companyId != ''">-->
            left join (
                select staff_id, name, company_id
                from company_staff cs
                inner join company c
                   on cs.company_id = c.id
            ) csr
            on csr.staff_id = s.id
<!--        </if>-->

        <where>
            status = 'USED'
            <if test="positionId != null and positionId != ''">
                AND s.position_id = #{positionId}
            </if>
            <if test="taskId != null and taskId != ''">
                AND s.task_id = #{taskId}
            </if>
            <if test="companyId != null and companyId != ''">
                AND csr.company_id = #{companyId}
            </if>
        </where>
    </select>

    <!-- 키워드검색 (이름, 직업종류) -->
    <select id="searchKeyword" resultType="com.hansol.hrm.service.staff.domain.Staff">
        select *
        from staff
        where name = #{keyword}
          or type LIKE CONCAT('%', #{keyword}, '%');
    </select>


</mapper>
